#python gedoens
__pycache__
*.pyc

#snake fun
.snakemake
Snakemake

data/*
/examples/CyclophilinD_data/abfe/
/examples/internal_example
/examples/2VT4/extra
/examples/2VT4/abfe

public

.pytest_cache
.vscode
