name: Python build Package using Conda

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
  
jobs:
 tests:
    runs-on: ${{ matrix.OS }}-latest
    name: "tests"
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu',]
        python-version:
          - "<3.12"
        include:
          - os: 'macos'
            python-version: "3.11" 

    steps:
      - uses: actions/checkout@v4
      - name: Get current date
        id: date
        run: echo "date=$(date +%Y-%m-%d)" >> "${GITHUB_OUTPUT}"
      - uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: environment.yml
          environment-name: abfe
          cache-environment: true
          cache-downloads: true
          cache-environment-key: environment-${{ steps.date.outputs.date }}
          cache-downloads-key: downloads-${{ steps.date.outputs.date }}
          create-args: >-
            python=${{ matrix.python-version }}

      - name: "Install"
        run: pip install --no-deps .

      - name: "Test CLI abfe"
        run: |
          cli-abfe -h

      - name: "Test CLI abfe-gmx"
        run: |
          cli-abfe-gmx -h
          
      - name: "Test imports"
        run: |
          python -Ic "import abfe"
